<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="bg-gray-100 text-sm">
    <% if (section === 'signup') { %>
    <section id="signup" class="w-full h-screen flex items-center">
      <div
        class="border border-2 border-blue-900 md:w-[550px] mx-auto p-4 rounded-lg"
      >
        <h2 class="text-2xl font-bold">Create an Account</h2>
        <p class="my-3">Join our platform to apply for your dream job</p>

        <form id="candidateForm" action="/candidate/signup" method="POST">
          <div id="step1">
            <div class="flex flex-col">
              <h3 class="text-base font-semibold">
                Step 1: Personal Information
              </h3>
              <div class="grid grid-cols-1 md:grid-cols-2 my-2 space-x-2">
                <div class="flex flex-col text-black">
                  <label for="first_name">First Name</label>
                  <input
                    type="text"
                    id="first_name"
                    name="first_name"
                    placeholder="Takunda"
                    class="mt-1 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                    required
                  />
                  <p class="text-red-500 text-xs hidden" id="first_nameError">
                    This field is required
                  </p>
                </div>
                <div class="flex flex-col text-black">
                  <label for="last_name">Last Name</label>
                  <input
                    type="text"
                    id="last_name"
                    name="last_name"
                    placeholder="Nyan'ara"
                    class="mt-1 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                    required
                  />
                  <p class="text-red-500 text-xs hidden" id="last_nameError">
                    This field is required
                  </p>
                </div>
              </div>
              <div class="grid grid-cols-2 space-x-2">
                <div class="flex flex-col text-black my-2">
                  <label for="marital_status">Marital Status</label>
                  <select
                    name="marital_status"
                    id="marital_status"
                    class="mt-1 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                  >
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                  </select>
                  <p
                    class="text-red-500 text-xs hidden"
                    id="marital_statusError"
                  >
                    This field is required
                  </p>
                </div>
                <div class="flex flex-col text-black my-2">
                  <label for="gender">Gender</label>
                  <select
                    name="gender"
                    id="gender"
                    class="mt-1 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                  >
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                  <p class="text-red-500 text-xs hidden" id="genderError">
                    This field is required
                  </p>
                </div>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-2 my-2 space-x-2">
                <div class="flex flex-col text-black">
                  <label for="date_of_birth">Date of Birth</label>
                  <input
                    type="date"
                    id="date_of_birth"
                    name="date_of_birth"
                    placeholder="Date Of Birth"
                    class="mt-1 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                    required
                  />
                  <p
                    class="text-red-500 text-xs hidden"
                    id="date_of_birthError"
                  >
                    This field is required
                  </p>
                </div>
                <div class="flex flex-col text-black">
                  <label for="highest_education">Highest Education</label>
                  <select
                    name="highest_education"
                    id="highest_education"
                    class="mt-1 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                  >
                    <option value="Ordinary Level">Ordinary Level</option>
                    <option value="Advanced Level">Advanced Level</option>
                    <option value="Undergraduate">Undergraduate</option>
                    <option value="Masters">Masters</option>
                    <option value="Doctrate">Doctrate</option>
                  </select>
                  <p
                    class="text-red-500 text-xs hidden"
                    id="highest_educationError"
                  >
                    This field is required
                  </p>
                </div>
              </div>
              <button
                type="button"
                onclick="showStep(2)"
                class="mt-2 bg-blue-600 rounded p-4 my-4 text-white text-lg font-bold"
              >
                Next
              </button>
            </div>
          </div>
          <div id="step2">
            <div class="flex flex-col">
              <h3 class="text-base font-semibold">
                Step 2: Account Information
              </h3>
              <div class="my-2 flex flex-col">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Email"
                  class="mt-1 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                  required
                />
              </div>
              <div class="flex flex-col">
                <label for="phone">Phone</label>
                <input
                  type="text"
                  id="phone"
                  name="phone"
                  placeholder="Phone"
                  class="mt-1 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                  required
                />
              </div>
              <div class="my-2 flex flex-col">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Password"
                  class="mt-1 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                  required
                />
              </div>
              <div class="mb-2 flex flex-col">
                <label for="re-password">Confirm Password</label>
                <input
                  type="password"
                  id="re-password"
                  name="re-password"
                  placeholder="Confirm Password"
                  class="mt-1 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                  required
                />
              </div>
              <button
                type="button"
                onclick="showStep(1)"
                class="mt-2 w-full bg-blue-300 text-white p-2 rounded-md"
              >
                Back
              </button>
              <button
                type="submit"
                class="bg-blue-600 rounded p-4 my-4 text-white text-lg font-bold"
              >
                Sign Up
              </button>
            </div>
          </div>
        </form>

        <p class="text-center text-xs">
          Already have an account?
          <a href="/candidate/login" class="text-blue-800 font-bold">Log in</a>
        </p>
      </div>
    </section>
    <% } else if (section === 'login') { %>
    <section id="login" class="w-full h-screen flex items-center">
      <div
        class="border border-2 border-blue-900 md:w-[550px] mx-auto p-4 rounded-lg"
      >
        <h2 class="text-2xl font-bold">Welcome Back!</h2>
        <p class="my-3">Your next career move is just a click away!</p>

        <form action="/candidate/login" method="POST">
          <div>
            <div class="flex flex-col">
              <div class="mb-2 flex flex-col">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Email"
                  class="mt-1 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                  required
                />
              </div>
              <div class="flex flex-col">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Password"
                  class="mt-1 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                  required
                />
              </div>
              <div class="w-full mt-3 flex items-center justify-between">
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input
                      id="remember"
                      aria-describedby="remember"
                      type="checkbox"
                      class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300"
                    />
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="remember"
                      class=""
                      >Remember me</label
                    >
                  </div>
                </div>
                <a
                  href="/candidate/reset"
                  class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500"
                  >Forgot password?</a
                >
              </div>
              <button
                type="submit"
                class="bg-blue-600 rounded p-4 my-4 text-white text-lg font-bold"
              >
                Login
              </button>
            </div>
          </div>
        </form>

        <p class="text-center text-xs">
          Don't have an account yet?
          <a href="/candidate/signup" class="text-blue-800 font-bold">Sign Up</a>
        </p>
      </div>
    </section>
    <% } else if (section === 'reset') { %>
    <section id="reset" class="w-full h-screen flex items-center">
      <div
        class="border border-2 border-blue-900 md:w-[550px] mx-auto p-4 rounded-lg"
      >
        <h2 class="text-2xl font-bold">Reset Password</h2>
        <p class="my-3"></p>
        Enter your email to receive a password reset link

        <form action="/candidate/reset" method="POST">
          <div>
            <div class="flex flex-col">
              <div class="flex flex-col">
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="exampleemail@domain.com"
                  class="mt-2 rounded-md p-2 border border-1 border-blue-800 focus:outline-none focus:border-primary"
                  required
                />
              </div>
              <button
                type="submit"
                class="bg-blue-600 rounded p-4 my-4 text-white text-lg font-bold"
              >
                Send Reset Link
              </button>
            </div>
          </div>
        </form>

        <p class="text-center mt-4">
          Remembered your password?
          <a href="/candidate/login" class="text-blue-800 font-bold">Log in</a>
        </p>
      </div>
    </section>
    <% } else { %>
    <p>No valid section selected.</p>
    <% } %>

    <script>
      document.getElementById("step2").classList.add("hidden");
      function showStep(step) {
        // Validate Step 1 fields
        if (step === 2) {
          const step1Fields = document.querySelectorAll("#step1 input");
          let allFilled = true;

          // Check if all fields in Step 1 are filled
          step1Fields.forEach((field) => {
            const errorText = document.getElementById(field.id + "Error");
            if (!field.value) {
              field.classList.add("border-red-500");
              errorText.classList.remove("hidden");
              allFilled = false;
            } else {
              field.classList.remove("border-red-500");
              errorText.classList.add("hidden");
            }
          });

          if (!allFilled) {
            return; // Stop if any field is empty
          }
        }
        document.getElementById("step1").classList.toggle("hidden", step !== 1);
        document.getElementById("step2").classList.toggle("hidden", step !== 2);
      }
    </script>
  </body>
</html>
